p {
    font-size: 20px;
    /* font-family:impact;  */
    
}
h3{
    font-size:50px;
    /* font-family: fantasy; */
    /* font-family: copperplate; */
    font-family:avant garde,didot,sans-serif;
     /* font-family: arial; */
}
h2{
    font-family: avant garde;
}