/* #container {
    height: 400px;
    width: 400px;

    border: 2px solid black;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-content: space-around;
}

#container div {
    height: 100px;
    width: 100px;

    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;

    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
} */



#navbar {
    height: 50px;
    width: 900px;

    background-color: pink;
    border: 2px solid teal;
    border-radius: 8px;

    display: flex;
}

#navbar div {
    height: 50px;
    width: 80px;

    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}
