#mainTopic {
    color: blue;
}
* {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia;
}
.para {
    color: white;
    background-color: cornflowerblue;
}
div button {
    background-color: purple;
    color: azure;
}
button:hover {
    background-color: yellow;
    color: blue;
}
p:nth-of-type(odd) {
    color: yellow;
}
h1::first-letter {
    color: red;
}
#yes:checked + label {
    color: darkgreen;
}